#welcome_container
  %h1 Welcome
  #image_container
    -@images.each do |image|
      = link_to (image_tag image.image_data.url(:regular), class: 'item'), image_path(image)

  :javascript
    $(function() {
        var wall = new freewall("#image_container");
            wall.reset({
              selector: '.item',
              gutterY: 10,
              gutterX: 10
            });
    wall.fitZone();
    });




