.title
  %br
  %h1 Welcome to Visual Running Log
  %br
  - if current_user.nil?
    %h4 Click signup to get started or go ahead and login
  - else
    %h4 Get started logging your runs! Add runs and images by clicking above.
  %br
  %br
 


  


#index_container
  
  #image_container
    
    -@images.each do |image|

      = link_to (image_tag image.image_data.url(:regular), class: 'item'), image_path(image)
      

  #signup.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Signup
        .modal-body
          = render "users/new"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

  #login.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4#myModalLabel.modal-title Login
        .modal-body
          = render "sessions/new"
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close

:javascript
  

  imagesLoaded( document.querySelector('#index_container'), function( instance ) {console.log('all images are loaded'); 
    wall = new freewall("#image_container");
    wall.reset({
      selector: '.item',
       animate: true,
      gutterY: 10,
      gutterX: 10,
      delay: 125
    });
    wall.fitWidth();

  });


  if ($('#index_container:visible')) {
    imagesLoaded( document.querySelector('#index_container'), function( instance ) {console.log('all images are loaded'); 
    wall = new freewall("#image_container");
    wall.reset({
      selector: '.item',
      animate: true,
      gutterY: 10,
      gutterX: 10
    });
    wall.fitZone();

  });

  }

 

 
  
    

